{% extends "layout.html" %}

{% block title %}Log In{% endblock %}

{% block content %}
  <h1>Log In</h1>

  <form action="/login" method="POST">
    {% csrf-field %}
    <div class="field">
      <label for="email">
        Email
        {% if errors.email %}
          &nbsp;- <span class="error">{{errors.email|join:", "}}</span>
        {% endif %}
      </label>
      <input type="text" name="email" value="{{email}}" />
    </div>

    <div class="field">
      <label for="email">
        Password
        {% if errors.pass %}
          &nbsp;- <span class="error">{{errors.pass|join:", "}}</span>
        {% endif %}
      </label>
      <input type="text" name="pass" />
    </div>

    <div class="field field-submit">
      <input type="submit" value="Log in" />
    </div>
  </form>
{% endblock %}
